@import url("https://fonts.googleapis.com/css?family=Roboto|Staatliches&display=swap");
.bottom {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.go-up {
  display: flex;
  justify-content: center;
  font-size: 32px;
}
.go-up__button {
  background-color: rgba(255, 255, 255, 0.2);
  background-image: url("../film-fest-design/img/arrow-up3.png");
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  font-weight: bold;
  font-size: 25px;
  font-family: roboto;
  bottom: 15vw;
  right: 5vw;
  position: fixed;
  z-index: 1;
  display: flex;
  box-shadow: 0 0 6px;
  cursor: pointer;
}
.go-up__button:hover {
  cursor: pointer;
}

.social-media {
  margin: 1rem 3rem;
  margin-bottom: 0rem;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-bottom: 1rem;
}
.social-media__icon {
  margin-right: 1vw;
  margin-left: 1vw;
  cursor: pointer;
}

.copyright {
  font-size: 16px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

i {
  font-size: 1rem;
}

header {
  height: 23vh;
  margin: 0 1rem 0 1rem;
}

.bar-icon {
  background-size: cover;
  width: 90%;
  transition: width 1s;
}

.bar-icon:hover {
  cursor: pointer;
}

.search-bar__logo {
  height: 15vh;
}

.main-bar {
  width: 100vw;
  height: 10vh;
  display: grid;
  grid-template-columns: repeat(4, 25vw);
  grid-template-rows: 15vh 5vh;
}
.main-bar__logo {
  grid-area: 1/1/2/2;
  height: 15vh;
  width: 16vh;
}
.main-bar__search {
  grid-area: 1/2/2/4;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0;
}
.main-bar__search .search-bar__search {
  padding: 0.6rem;
  margin-left: 0.5 rem;
  margin-right: -3rem;
  background-color: #414141;
  border: solid thin #414141;
  color: #fcf5ee;
  border-radius: 1rem;
  width: 100vw;
}
.main-bar__login {
  grid-area: 1/4/2/5;
  font-size: 3.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-bar__login:hover {
  cursor: pointer;
}
.main-bar__home {
  grid-area: 2/1/3/2;
}
.main-bar__genre {
  grid-area: 2/2/3/3;
}
.main-bar__watch-list {
  grid-area: 2/3/3/4;
}
.main-bar__surprise-me {
  grid-area: 2/4/3/5;
}

.header-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 0.5rem;
  padding: 1rem;
  font-weight: bolder;
  border-radius: 1rem;
  font-size: 1rem;
}

.header-button:hover {
  color: #ec625f;
  cursor: pointer;
  font-weight: bolder;
  background-color: #414141;
}

.search-buton {
  background-color: #414141;
  border: none;
  color: #fcf5ee;
}

.search-bar {
  margin-left: 5vw;
}

.main-bar__drop-down-list {
  display: none;
  z-index: 1;
  position: absolute;
  top: 4vh;
  background-color: #414141;
  border-radius: 1rem 1rem 1rem 1rem;
  font-size: 0.8rem;
}

.main-bar__genre {
  position: relative;
}

.main-bar__genre:hover .main-bar__drop-down-list {
  display: block;
}

.main-bar__drop-down-list {
  padding: 1rem;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #525252;
  border-radius: 1rem;
  text-decoration: none;
  padding: 0.5rem;
  font-family: roboto;
  font-size: 16px;
  color: #fcf5ee;
  margin-left: 0.5rem;
}
.login__title {
  color: #ec625f;
  font-size: 2rem;
  margin: 0.5rem auto 0.5rem auto;
}
.login__field {
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  margin: 0.5rem;
  background-color: #fcf5ee;
}
.login__submit {
  background-color: #ec625f;
  border-radius: 0.5rem;
  margin: 0.3rem;
  padding: 0.5rem;
  font-size: 16px;
  color: #fcf5ee;
  border: 0;
  font-weight: bold;
}

h1 {
  font-family: Staatliches;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  flex-flow: row wrap;
  list-style: none;
  margin: 0.5rem auto 0.5rem auto;
}
.form * {
  box-sizing: border-box;
  list-style: none;
  margin: 0.5rem auto 0.5rem auto;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #525252;
  border-radius: 1rem;
  text-decoration: none;
  padding: 0.5rem;
  font-family: roboto;
  font-size: 16px;
  color: #fcf5ee;
}
.register form ul {
  padding: 1rem;
}
.register__title {
  color: #ec625f;
  font-size: 2rem;
  margin: 0.5rem auto 0.5rem auto;
}
.register__field {
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  margin: 0.15rem auto 0.15rem auto;
}
.register__submit {
  background-color: #ec625f;
  margin: 0.5rem auto 0.5rem auto;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 16px;
  color: #fcf5ee;
  border: 0;
}

h1 {
  font-family: Staatliches;
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.landing__title {
  font-size: 3rem;
  font-weight: normal;
  color: #ec625f;
  background-color: #525252;
  text-align: center;
  border-radius: 1rem;
  margin-bottom: 1rem;
  width: 85%;
}
.landing .results {
  display: flex;
  padding: 0;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}
.landing .results .movie {
  width: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #414141;
  margin: 0.3rem;
  justify-content: flex-start;
}
.landing .results .movie__image {
  width: 25vh;
  background-size: cover;
  margin: 0;
}
.landing .results .movie__title {
  text-align: center;
  width: 100%;
  font-size: 0.9rem;
  padding: 0.1rem;
  color: #fcf5ee;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing .results .movie__title:hover {
  border-radius: 3rem;
  background-color: #414141;
  color: #ec625f;
}

* {
  box-sizing: border-box;
  margin: 0.5rem auto 0.5rem auto;
}

.specs {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #525252;
  border-radius: 1rem;
  text-decoration: none;
  padding: 0.5rem;
  font-family: roboto;
  font-size: 16px;
  color: #fcf5ee;
  max-width: 800px;
}
.specs__image {
  width: 22.5rem;
  float: left;
}
.specs__title {
  color: #ec625f;
  font-size: 2rem;
  margin: 0.5rem auto 0.5rem auto;
}
.specs__watchlist__title {
  color: #ec625f;
  font-size: 1.5rem;
  color: #ec625f;
}
.specs__description {
  padding: 40px;
  color: #fcf5ee;
  overflow: hidden;
}
.specs__genre {
  color: #fcf5ee;
  flex: start;
}
.specs__runtime {
  color: #fcf5ee;
  flex: start;
}

.h2 {
  font-family: Staatliches;
}

.watchlist {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  font-size: 1.3rem;
  padding: 0.5rem;
  border-radius: 2rem;
  background-color: #414141;
}
.watchlist i {
  color: #ec625f;
}

.watchlist:hover {
  cursor: pointer;
}

.star-1:hover {
  color: #f7be16;
}

.star-2:hover {
  color: #f7be16;
}

.star-3:hover {
  color: #f7be16;
}

.star-4:hover {
  color: #f7be16;
}

.star-5:hover {
  color: #f7be16;
}

.Stars .material-icons {
  font-size: 3rem;
}

.Stars:hover {
  cursor: pointer;
}

.specs * {
  margin: 0.15rem 0rem 0.15rem 0rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  flex-flow: row wrap;
  list-style: none;
  margin: 0.5rem auto 0.5rem auto;
}
.form * {
  box-sizing: border-box;
  list-style: none;
  margin: 0.5rem auto 0.5rem auto;
}

.personal-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #525252;
  border-radius: 1rem;
  text-decoration: none;
  padding: 0.5rem;
  font-family: roboto;
  font-size: 16px;
  color: #fcf5ee;
  width: 80%;
}
.personal-area__title {
  color: #ec625f;
  font-size: 2rem;
  margin: 0.5rem auto 0.5rem auto;
}
.personal-area__field {
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  margin: 0.15rem auto 0.15rem auto;
}
.personal-area__submit {
  display: flex;
  flex-direction: column;
  background-color: #ec625f;
  margin: 0.5rem auto 0.5rem auto;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: 16px;
  color: #fcf5ee;
  border: 0;
}

h1 {
  font-family: Staatliches;
}

body {
  display: flex;
  flex-direction: column;
  font-family: roboto;
  background-color: #313131;
  color: #fcf5ee;
}

h1 {
  font-family: Staatliches;
}

* {
  box-sizing: border-box;
  margin: 0px;
  list-style: none;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*# sourceMappingURL=index.css.map */
